---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="UTMACH"
	pubDate={new Date('June 09 2024')}
	heroImage="/landing-page/bgutmach.jpg"
>
	<h4>Colaboradores</h4>
	<div class="flex w-full items-stretch justify-center gap-5 flex-wrap">
		<div class="flex flex-col p-5 rounded-lg shadow-2xl w-60">
			<img src="landing-page/ti.png" alt="Carrera de Ingenieria en Tecnologias de la Informacion" class="w-52 align-middle object-center" />
			<div class="font-medium mt-5 text-center leading-tight text-lg md:text-xl flex-grow">Carrera de Ingenieria en Tecnologias de la Informacion</div>
		</div>
		<div class="flex flex-col p-5 rounded-lg shadow-2xl w-60">
			<img src="/landing-page/utmach.png" alt="Universidad Tecnica de Machala" class="w-52 align-middle object-center" />
			<div class="font-medium mt-5 text-center leading-tight text-lg md:text-xl flex-grow">Universidad Técnica de Machala</div>
		</div>
		<div class="flex flex-col p-5 rounded-lg shadow-2xl w-60">
			<img src="/landing-page/gdgmachala.png" alt="Google Groups Developer Machala" class="w-52 align-middle object-center" />
			<div class="font-medium mt-5 text-center leading-tight text-lg md:text-xl flex-grow">Google Groups Developer Machala</div>
		</div>
		<div class="flex flex-col p-5 rounded-lg shadow-2xl w-60">
			<img src="/landing-page/mlsa.png" alt="Microsoft Learn Student Ambassadors" class="w-48 align-middle object-center" />
			<div class="font-medium mt-5 text-center leading-tight text-lg md:text-xl flex-grow">Microsoft Learn Student Ambassadors</div>
		</div>
	</div>
	<hr class="my-10">
	<h4>Miembros</h4>
		Soon!
	<hr class="my-10">
	<h4>Codigo de etica</h4>
	<p>
		El Club de Investigación, innovación y tecnología de la Universidad Técnica de Machala (REINTE) se compromete a fomentar la excelencia en el estudio y desarrollo de la tecnología, promoviendo un ambiente de respeto, inclusión, aprendizaje continuo y responsabilidad ética entre todos sus miembros. Este código de ética es un documento vivo, sujeto a revisiones y actualizaciones periódicas para reflejar los cambios en nuestra comunidad y en el campo de la tecnología. Todos los miembros deberán contribuir a su desarrollo y fortalecimiento. Cualquier violación del código será tratada de manera seria y puede resultar en acciones correctivas, incluyendo la posible exclusión del club.
	</p>

	<p>
		<a>1. Respeto e Inclusión.</a> Tratar a todos los miembros y participantes de nuestras actividades con respeto, sin discriminación por razón de raza, género, orientación sexual, discapacidad, origen étnico, religión o cualquier otra característica personal. Promover un ambiente inclusivo que fomente la participación activa de todos los estudiantes interesados en la tecnología, independientemente de su nivel de experiencia o especialización.
	</p>

	<p>
		<a>2. Integridad Académica y Profesional.</a> Mantener los más altos estándares de honestidad académica en todos los proyectos y actividades. Incluyendo evitar el plagio, la falsificación de datos y cualquier otra forma de deshonestidad académica. Respetar la propiedad intelectual y los derechos de autor, utilizando correctamente las licencias de software y citando adecuadamente las fuentes de información.
	</p>

	<p>
		<a>3. Colaboración y Compartir Conocimientos.</a> Fomentar un espíritu de colaboración, donde los miembros trabajen juntos para aprender y resolver problemas, compartiendo conocimientos y experiencias de manera abierta y generosa. Apoyar a otros miembros en su desarrollo profesional y académico, ofreciendo mentoría, recursos y oportunidades de aprendizaje.
	</p>

	<p>
		<a>4. Uso Ético de la Tecnología.</a> Promover el uso responsable y ético de la tecnología, considerando las implicaciones sociales, ambientales y éticas de nuestras acciones y proyectos. Comprometerse con el desarrollo de tecnologías que beneficien a la sociedad, evitando aquellas que puedan ser utilizadas para fines no éticos.
	</p>

	<p>
		<a>5. Contribución a la Comunidad.</a> Participar activamente en la comunidad universitaria y más allá, a través de iniciativas que utilicen la tecnología para el bien social, como proyectos comunitarios, educativos o de sostenibilidad. Promover el acceso y la educación tecnológica en comunidades menos representadas o desfavorecidas.
	</p>

	<p>
		<a>6. Desarrollo y Crecimiento Personal.</a> Fomentar un ambiente de aprendizaje continuo, donde los miembros se sientan motivados a desarrollar sus habilidades y conocimientos en tecnología. Promover la autoevaluación y la reflexión sobre nuestras prácticas y comportamientos, buscando siempre mejorar como individuos y como comunidad.
	</p>
</Layout>
