---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="">Bienvenido a <a class="text-black font-bold">REINTE</a>! </h1>
			<div class="flex items-center justify-center">
				<img class="my-5" src="../../public/logo.png" alt="Astro logo" width="40%"/>
			</div>
			<p>
				<a class="font-bold">Misi贸n:</a> Promover la investigaci贸n e innovaci贸n en las distintas 谩reas de estudio de las tecnolog铆as de la informaci贸n actuales a trav茅s de la construcci贸n de un entorno en el cual los miembros y en especial los estudiantes de la carrera de Ingenier铆a en Tecnolog铆as de la Informaci贸n de la <a href="https://www.utmachala.edu.ec/portalwp/">Universidad T茅cnica de Machala</a> desarrollen habilidades pr谩cticas y de vanguardia.
			</p>
			<p>
				<a class="font-bold">Visi贸n:</a> Visi贸n: Ser una comunidad unida y excepcional en el desarrollo de proyectos de tecnolog铆a de vanguardia apoyando el crecimiento profesional y personal de todo y cada uno de los miembros permiti茅ndoles ser agentes de cambio dentro de la comunidad local a trav茅s de la tecnolog铆a.
			</p>
		</main>
		<Footer />
	</body>
</html>
